<form name='form'>
	<label for="form-type">type</label>
	<input type="text" id="form-type" name="formType" ng-model="formItem.type" ng-options="t for t in dbInfo.types" ng-class="{'req-alert-on-left':form.formType.$invalid}" bs-typeahead required>

	<label for="form-name">name</label>
	<input id="form-name" name='formName' type='text' ng-model='formItem.name' ng-class="{'req-alert-on-left':form.formName.$invalid}" required>

	<form-element ng-repeat="field in typeInfo[formItem.type]" field='field' form-item='formItem' form="form"></form-element>
	
	<button ng-click='addItem(formItem);' class="inline">save</button>
	<button ng-click="cancelForm()">cancel</button>

</form>