<div class="row item-row alive" id="{{item.uid}}" style="border-left:3px solid {{color(item)}};">
	<div class='half column alpha' ng-if="item.lock">
		<img src="images/lock.png">
	</div>
	<item-priority item="item" type="'project'" ng-if="page == 'projects' && !sharedData.filter && item.type=='project' && sharedData.email"></item-priority>
	<div class="two column alpha">
		<a href="{{item.image}}"><img id="image-{{item.uid}}" class="pad-left" ng-src="{{item.thumb}}" style=" max-height:60px; max-width:60px;"/></a>
	</div>
	<div class="five columns" ng-click="showDetail=!showDetail;">
		<h4 class="pad-left"><small class="small-type" style="background-color:{{color(item)}};">{{item.type}}</small>{{item.name}}</h4>
		<h6 class="pad-left">
			<span class="item-need-{{item.need}}" ng-if="item.need === 'have'"> &#10003; we have this</span>
			<span class="item-need-{{item.need}}" ng-if="item.need === 'want'"> &#x2717; we do not have this</span>
		</h6>
	</div>
	<div class="five columns" ng-click="showDetail=!showDetail;">
		<p class="pad-left">{{item.description}}</p>
	</div>
	<div class="one columns">
		<a class="item-link" ng-click="showDetail=!showDetail;">details</a>
		<a class="item-link" ng-if="sharedData.email" ng-click="editItem(item);">edit</a>
	</div>
	
</div>
<item-detail ng-show='showDetail' item='item'></item-detail>

