<!--add/remove/list attachments -->
<p class="bold remove-all" style="font-size:13px;">attachments</p>
<list-attachment edit-attachment='true' attachment='attachment' ng-repeat="attachment in items | filter:{wasChecked:true}"></list-attachment>
<button style="display:block;" ng-click="showAddAttachmentForm=true;" ng-show="!showAddAttachmentForm">add</button>
<form name="formAttachments" ng-show="showAddAttachmentForm">
	<!--attachment filter-->
	<label for="form-attachment-type">filter</label>
	<select id="form-attachment-type" class="inline" ng-model="attachmentType" name="formAttachmentType" ng-options="a for a in attachmentTypes" style="width:60px;"></select><input class="inline" type="text" style="width:150px" ng-model="textFilter" placeholder="<--by type or search">

	<br>

	<!--list all possible attachments-->
	<list-attachment edit-attachment='true' attachment="attachment" ng-repeat="attachment in items | filter:{wasChecked:false} | filter:attachmentType | filter:textFilter"></list-attachment>


	<button ng-click="addAttachments(); showAddAttachmentForm=false;" ng-disabled="formAttachment.$invalid">save attachments</button>

</form>

