<div class="row item-row alive" id="{{item.uid}}" style="border-left:3px solid {{color()}};">
	<div class="two column alpha">

		<a href="/images/items/{{item.uid}}/itemImage.jpg"><img id="image-{{item.uid}}" class="pad-left" ng-src="{{editThumb||item.thumb}}" style=" max-height:60px; max-width:60px;"/></a>
	</div>
	<div class="five columns">
		<h4 class="pad-left"><small class="small-type" style="background-color:{{color()}};">{{item.type}}</small>{{item.name}}</h4>
	</div>
	<div class="five columns">
		<p class="pad-left">{{item.description}}</p>
	</div>
	<div class="one columns">
		<a class="item-link" ng-click="showDetail=true;">details</a>
		<a class="item-link" ng-click="editItem(item);">edit</a>
	</div>
	
</div>
<div class='row' ng-show='showDetail'>
	<div ng-repeat='(key,value) in item'>{{key}} = {{value}}</div>
	<a class="item-link" ng-click="showDetail=false;">hide</a>
</div>

