<div ng-if="item.lock">
	<p>item is locked by {{item.lockChangedBy}}</p>
</div>
<p ng-if="isOwner">you are an owner of this item</p>
<div ng-if="!item.lock||item.lockChangedBy===sharedData.email">
	<list-item item="item"></list-item>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<button class="btn btn-default" ng-click="deleteItem(item)">delete</button>
				<insert-form form-item="item" is-owner="isOwner"></insert-form>
			</div>
		</div>
	</div>
</div>




