<div class="container pad-top">
	<button class="btn btn-default" ng-click="goBack()">go back</button>
	
	<div id="owner-stuff" ng-show="isOwner">
		<p>you are an owner of this item</p>
		<button class="btn btn-default" ng-click="deleteItem(item)">delete</button>
		<button class="btn btn-default" ng-click="addOwnerClick();">add owner</button>
		<button class="btn btn-default" ng-click="addMediaImageClick();">add media</button>
		<button class="btn btn-default" ng-click="addStepClick();">add plan</button>

		
		<owner-form ng-if="addOwners" item='item'></owner-form>
		<button ng-if="addOwners" class="btn btn-default" ng-click="addOwnerClick();">cancel</button>
		<div ng-if="addMediaImage">
			<add-media-image-form media-image="mediaImageToAdd"></add-media-image-form>
			<button class="btn btn-default" ng-click="addMediaImageClick();">cancel</button>
			<button class="btn btn-default" ng-click="addMediaImageSave(mediaImageToAdd);">save</button>
		</div>
		<div ng-if="addStep">
			<add-step-form item="item"></add-step-form>
		</div>
		<div>
			add to project:
			<select id="addToProjectSelect" class="form-control" ng-model="selectedProject" ng-options="a.name for a in listProjects"></select>
			<button class="btn btn-default" ng-click="addToProject(selectedProject.uid)">add to project</button>
		</div>
	</div>	

	<div ng-if="item.lock">
		<p>item is locked by {{item.lockChangedBy}}</p>
	</div>
</div>
