<!-- DETAIL -->
<div class="row">
	<div class="col-xs-12 col-md-4 detail-container">
		<div class="detail-card">
			<p class="half-bottom detail-header">overview</p>
			<div ng-if="item.proposal">
				<div ng-if="item.approval" class="alert alert-success" role="alert">&#10003;approved! <a ui-sref="proposal({uid:item.proposal})">view proposal</a></div>
				<div ng-if="!item.approval" class="alert alert-warning" role="alert">pending approval: <a ui-sref="proposal({uid:item.proposal})">view proposal</a></div>
			</div>
			<div ng-if="item.events">
				<div ng-repeat="e in item.events">
					<list-attachment attachment="findAttachment(e)"></list-attachment>
				</div>
			</div>
			<div ng-if="item.type==='event'">
				Dates:
				<span ng-if="item.start">{{item.start}} through {{item.end}}</span>
				<span ng-if="!item.start">TBD</span>
			</div>
			item owner(s): 
			<ul>
				<li ng-repeat="o in item.owners">{{o}}</li> 
			</ul>
			
			<div ng-if="item.parents.length">
				part of:
				<list-attachment ng-repeat="p in item.parents" attachment="findAttachment(p)"></list-attachment>
			</div>

			<div ng-if="item.budget.total">
				total cost: ${{item.budget.total}}
			</div>
		</div>
	</div>
	<div ng-if="item.type==='project'" class="col-xs-12 col-md-4 detail-container">
		<div class="detail-card">
			<div ng-if="haves">
				<p class="half-bottom detail-header">things we have</p>
				<list-attachment attachment='attachment' ng-repeat="attachment in haves"></list-attachment>
			</div>
			<div ng-if="wants">
				<p class="half-bottom detail-header">things we want</p>
				<list-attachment attachment='attachment' ng-repeat="attachment in wants"></list-attachment>
			</div>
			<div ng-if="others">
				<p class="half-bottom detail-header">other things</p>
				<list-attachment attachment='attachment' ng-repeat="attachment in others"></list-attachment>
			</div>
			<div ng-if="!(others.length+wants.length+haves.length)">
				<p class="half-bottom detail-header">nothing is attached to this project</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 detail-container">
		<div class="detail-card">
			<p class="half-bottom detail-header">conversation</p>
			<textarea class="form-control margin-bottom" ng-model="comment" placeholder="add something"></textarea>
			<button ng-if="comment" ng-click="addComment(item)" class="btn btn-default">add comment</button>

			<show-comment ng-repeat="comment in item.comments | orderBy:'-time'" comment="comment" item="item"></show-comment>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 detail-container" ng-if="item.type==='project'">
		<div class="detail-card">
			<p class="half-bottom detail-header">plan</p>
			<div ng-if="!item.plan">
				<p>no plan has been decided for this {{item.type}}</p>
			</div>
			<div ng-if="item.plan">
				<list-steps plan="item.plan" edit-steps="false"></list-steps>
			</div>
			<div ng-if="item.plans.length>1">
				<h5>options:</h5>
				<ol>
					<li ng-repeat="plan in item.plans">{{plan.name}}</li>
				</ol>
			</div>
			
		</div>
	</div>

	<div class="col-xs-12 col-md-6 detail-container" ng-if="item.type==='project'">
		<div class="detail-card">
			<p class="half-bottom detail-header">budget</p>
			<div ng-if="!item.budget">
				<p>no budget for this {{item.type}}</p>
			</div>
			<div ng-if="item.budget">
				<list-budget budget="item.budget" edit-budget="false"></list-budget>
			</div>
			
		</div>
	</div>

	<div class="col-xs-12 detail-container" ng-if="item.media">
		<div class="detail-card">
			<p class="half-bottom detail-header">media</p>
			<div class="row">
				<div class="col-xs-6 col-md-3" ng-repeat="media in item.media ">
					<div class="thumbnail" id="media-{{$index}}">
						<a href="{{media.image}}"><img ng-src="{{media.thumb}}"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 detail-container">
		<!-- buttons? -->
		<button class="btn btn-default" ng-click="showRaw[item.uid]=!showRaw[item.uid]">show raw</button>
	</div>
</div>
<div class='row' ng-if="showRaw[item.uid]">
	<div class="col-xs-12 detail-container">
		<div class="detail-card">
			<p class="half-bottom detail-header">raw data</p>
			<div ng-repeat='(key,value) in item'>
				{{key}} = {{value}}
			</div>
		</div>
	</div>
</div>