<div class="row">
	<div class="col-xs-12 col-md-4">
		<p class="half-bottom detail-header">raw data</p>
		<div ng-repeat='(key,value) in item'>
			{{key}} = {{value}}
		</div>
	</div>
	<div ng-if="item.type==='project'" class="col-xs-12 col-md-4">
		<p class="half-bottom detail-header">things we have</p>
		<list-attachments ng-if="item.type=='project'" form-item="item" attachment-filter="{need:'have'}"></list-attachments>
		<p class="add-top half-bottom detail-header">things we still need</p>
		<list-attachments ng-if="item.type=='project'" form-item="item" attachment-filter="{need:'want'}"></list-attachments>
	</div>
	<div class="col-xs-12 col-md-4">
		<p class="half-bottom detail-header">conversation</p>
		<textarea class="form-control" ng-model="comment" placeholder="add something"></textarea>
		<button ng-if="comment" ng-click="addComment(item)" class="btn btn-default">add comment</button>

		<show-comment ng-repeat="comment in item.comments" comment="comment"></show-comment>

	</div>
</div>