<table class="table">
	<tr ng-repeat="line in budget.lines" class="row">
		<td>
			<span class="pad-left" style="width:40px;">{{$index+1}}.</span>
		</td>
		<td>
			<span ng-if="!editBudget">{{line.name}}</span>
			<input ng-if="editBudget" class="form-control" type="text" ng-model="budget.lines[$index].name" placeholder="name"/>
		</td>
		<td>
			<span ng-if="!editBudget">{{line.price}}</span>
			<input ng-if="editBudget" class="form-control" type="number" ng-model="budget.lines[$index].price" placeholder="price"/>
		</td>
		<td>
			<span ng-if="!editBudget">{{line.comment}}</span>
			<input ng-if="editBudget" class="form-control" type="text" ng-model="budget.lines[$index].comment" placeholder="comment"/>
		</td>
		<td>
			<button ng-if="editBudget" class="btn btn-xs btn-default" ng-click="removeLine($index)">remove</button>
		</td>

	</tr>
	<tr ng-if="editBudget">
		<td>
			<span>add:</span>
		</td>
		<td>
			<input class="form-control" type="text" ng-model="newLine.name" placeholder="name"/>
		</td>
		<td>
			<input class="form-control" type="text" ng-model="newLine.price" placeholder="price"/>
		</td>
		<td>
			<input class="form-control" type="text" ng-model="newLine.comment" placeholder="comment"/>
		</td>
		<td>
			<button class="btn btn-xs btn-default" ng-click="addLine()">add</button>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<span style="font-weight:bold;">total:</span>
		</td>
		<td>
			<span style="font-weight:bold;">{{budget.lines.$sum('price')}}</span>
		</td>
	</tr>
</table>
<button ng-if="editBudget" class="btn btn-xs btn-default" ng-click="saveBudget()">save budget</button>