<!--add/remove/list attachments -->
<list-attachment edit-attachment='editAttachment' attachment='attachment' ng-repeat="attachment in items | filter:{wasChecked:true} | filter:attachmentFilter"></list-attachment>
<div ng-if="editAttachment" class="add-top">
	<button style="display:block;" ng-click="showAddAttachmentForm=true;" ng-show="!showAddAttachmentForm">attach items</button>
	<form name="formAttachments" ng-show="showAddAttachmentForm">
		<!--attachment filter-->
		<p class="half-bottom bold">add attachments</p>
		<select id="form-attachment-type" class="inline" ng-model="attachmentType" name="formAttachmentType" ng-options="a for a in attachmentTypes" style="width:60px;"></select><input class="inline" type="text" style="width:150px" ng-model="textFilter" placeholder="filter by type or search">

		<br>

		<!--list all possible attachments-->
		<list-attachment edit-attachment='editAttachment' attachment="attachment" ng-repeat="attachment in items | filter:{wasChecked:false} | filter:attachmentType | filter:textFilter"></list-attachment>


		<button class="add-top" ng-click="addAttachments(); showAddAttachmentForm=false;" ng-disabled="formAttachment.$invalid">save attachments</button>

	</form>
</div>

