<!--add/remove/list attachments -->
<list-attachment edit-attachment='editAttachment' attachment='attachment' ng-repeat="attachment in items | filter:{wasChecked:true} | filter:attachmentFilter"></list-attachment>
<div ng-show="editAttachment" class="add-top">
	<button class="btn btn-default margin-md" ng-click="showAddAttachmentForm=true;" ng-show="!showAddAttachmentForm">attach items</button>
	<form name="formAttachments" ng-show="showAddAttachmentForm">
		<!--attachment filter-->
		<h5>add attachments</h5>
		<select id="form-attachment-type" class="form-control margin-bottom" ng-model="attachmentType" name="formAttachmentType" ng-options="a for a in attachmentTypes" style="width:30%;">
			<option value="" disabled selected>choose type</option>
		</select>
		<div class="input-group" style="width:70%;">
			<input class="form-control" type="text" ng-model="textFilter" placeholder="filter by type or search">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" ng-disabled="!textFilter||!attachmentType" ng-click="newItemAsAttachment()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>

		<!--list all possible attachments-->
		<list-attachment edit-attachment='editAttachment' attachment="attachment" ng-repeat="attachment in items | filter:{wasChecked:false} | filter:attachmentType | filter:textFilter"></list-attachment>


		<button class="btn btn-default margin-md" ng-click="addAttachments(); showAddAttachmentForm=false;" ng-disabled="formAttachment.$invalid">save attachments</button>
		<button class="btn btn-default margin-md" ng-click="showAddAttachmentForm=false;">cancel</button>

	</form>
</div>

