<div ng-controller="itemCtrl">
  	<form class="form-horizontal">
  		<input type="text" ng-model="itemName" size="30" placeholder="add a name if you'd like">
  		<select ng-model="itemType" ng-options="t for t in types">
			<option value=""></option>
		</select>
  		<button class="btn" ng-click="addItem()"><i class="icon-plus"></i>Add</button>
  	</form>
  	
  	<ul class="unstyled">
  		<li id="demoStart">
  			<div style="border-top:1px solid #BBBBBB; padding-top:15px;">
  				<p >add a new item here <i class="icon-hand-up"></i></p>
  			</div>
  		</li>
    	<li ng-repeat="item in items" style="padding:5px 0;">
    		<div ng-show="item.active">
	    		<!-- DISPLAY ITEM  ------------->
				<div class="media">
					
					<!-- item image -->
					<img ng-src="{{item.image}}" class="img-polaroid pull-left media-object" ng-click="findImage(item)">
					<!-- item name and type -->
					<div class="media-body">
					
						<div class="{{item.location[1]}} media-heading">
							<small style="padding-right:25px;">{{item.type}}</small>
							<span class="lead"><a ng-click="openItemEdit(item.id)">{{item.name}}</a></span>
						</div>
						<!-- item description -->
						<blockquote class="pull-left">{{item.description}}</blockquote>
						<div class="label pull-right">{{item.location[0]}}</div>
					</div> <!-- end media-body -->
					
				</div>
	    		
	    		<!-- EDIT ITEM ------------->
	    		<div ng-show="item.edit" class="well well-sm">
		    		<form class="form-horizontal">
						<input type="text" size="35" ng-model="item.name" ng-change="findImage(item)">
						<textarea ng-model="item.description" cols="50" rows="1" placeholder="Enter a description..."></textarea>
						<select ng-model="item.location[0]" ng-options="l for l in locations">
							<option></option>
						</select>
						<select ng-model="item.type" ng-options="t for t in types">
							<option value=""></option>
						</select>
						<br>
						
						<!-- EDIT IMAGE ----->
					    <div ng-show="item.editImage" class="row" style="padding:0 15px;">
					    	<span ng-repeat="image in item.temp">
					    		<img class="img-polaroid" ng-src="{{image.tbUrl}}" ng-click="setImage(item, image.tbUrl)">
					    	</span>
					    	<buton class="btn" ng-click="cancelImage(item)" class="pull-right">Remove Search</buton>		    	
					    </div>
						
						<button class="btn pull-right" ng-click="closeItemEdit(item.id)">Close</button>
					</form>
	    		</div>
    		</div> <!-- active item display -->
    		
		</li> <!-- ng-repeat -->
	</ul>
  </div> <!-- /itemCtrl -->