<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<!-- Basic Page Needs
		================================================== -->
		<meta charset="utf-8">
		<title>colabLife</title>
		<meta name="description" content="stuff on the Land">
		<meta name="author" content="freedom foundation">

		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="stylesheets/base.css">
		<link rel="stylesheet" href="stylesheets/skeleton.css">
		<link rel="stylesheet" href="stylesheets/layout.css">
		<link rel="stylesheet" href="stylesheets/page.css">

		<!-- maps -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		<!-- calendar (need to put jquery here so fullcal can use it...?) -->
		<link rel='stylesheet' href='js/fullcalendar/fullcalendar.css' />
		<script src='js/jquery.min.js'></script>
		<script src='js/moment.min.js'></script>
		<script src='js/fullcalendar/fullcalendar.js'></script>

		<!-- angularJS (manipulates some CSS..)
		================================================== -->
		<script type="text/javascript" src="js/angular.min.js"></script>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>




	<!-- START OF THE BODY AND THE ITEM APP -->
	<body ng-app="itemApp">
		<div class="container" ng-controller="itemCtrl" id="itemCtrl">
			<div class="sixteen columns">
				<div class="row remove-bottom">
					<div id="email" class="email-field">
						<!-- Required -->
						<input id="req-email-input" ng-model="email" ng-change="reqCheck(); emailSuccess=false;" class ="remove-bottom add-top inline" type="text" placeholder="email" /><button id="email-button" class ="remove-bottom add-top" ng-click="setEmailCookie()" ng-hide="emailSuccess">save</button>
					</div>
				</div>
				<div class="row">
					<select id="page-name" ng-model="page" ng-change="changePage();" ng-options="p.name for p in pages" title="{{page.title}}"></select>
					<span id="page-sub" ng-model="page">...{{page.sub}}</span>
				</div>
				<div class="row half-bottom">
					<button ng-model="page" ng-click="addItemClick(page.type)" title="show form for adding thigs such as items, projects, books, etc." ng-hide="showForm">add</button><button ng-model="page" ng-click="searchItemClick(page.type)" ng-hide="showForm">search</button>
				</div>










				<!-- ADD FORM  -->
				<div ng-show="showForm" id="add-form" class="row">
					
					<div class="six columns alpha">
						<form action="">

							<!-- Required -->
							<label for="req-type-label">type</label>
							<select ng-model="item.type" id="req-type-input" ng-change="reqCheck();" ng-options="t for t in types"></select>

							<!-- Required -->
							<label id="req-name-label" for="req-name-input">
								name 
								<span ng-show="imageSearchText"> - serach: <a id="imageSearchLink" ng-href="{{imageSearchHref}}" target="_blank">{{imageSearchText}}</a></span>
							</label>
							<input type="text" id="req-name-input" ng-model="item.name" ng-change="reqCheck(); imageSearch();" />

							<fieldset>
							    <label for="have">
							    	<input type="radio" name="need" id="have" value="have" ng-model="item.need" />
							    	<span>have</span>
							    </label>
							 
							    <label for="want">
							    	<input type="radio" name="need" id="want" ng-model="item.need" value="want" />
							    	<span>want</span>
							    </label>
						    </fieldset>

							<label for="inputDesc">description</label>
							<textarea id="inputDesc" ng-model="item.description"></textarea>

							<label ng-hide="showOtherLocationField()" for="inputLoc">location</label>
							<select ng-hide="showOtherLocationField()" ng-model="item.loc" id="inputLoc" ng-options="l for l in locations">
								<option></option>
							</select>

							<label ng-show="showOtherLocationField()" for="inputLocOther">other location</label>
							<input ng-show="showOtherLocationField()" type="text" id="inputLocOther" placeholder="enter location" ng-model="item.other">

							<label for="inputQuantity">quantity</label>
							<input id="inputQuantity" type="text" ng-model="item.quantity" />

							<label for="quasireq-ImageUrl">image URL</label>
							<input type="text" id="quasireq-ImageUrl" ng-model="item.imageURL" ng-change="reqCheck()" />

							<fieldset>
								<label for="receiptTrigger">
									<input type="checkbox" ng-model="showReceiptField" value="false" />
									<span class="bold">receipt?</span>
								</label>
							</fieldset>

							<label for="inputPrice" ng-show="showReceiptField">price</label>
							<input type="text" id="inputPrice" ng-model="item.price" ng-show="showReceiptField"/>

							<label for="quasireq-receiptUrl" ng-show="showReceiptField">receipt URL</label>
							<input type="text" id="quasireq-receiptUrl" ng-model="item.receiptURL" ng-change="reqCheck()" ng-show="showReceiptField" />

							<!-- these fields are disabled via reqCheck() unless required fields meet criteria -->
							<button id="addButton" type="submit" ng-click="addItem()" ng-hide="showUpdateButton">add</button>
							<button id= "updateButton" type="submit" ng-click="updateItem()" ng-show="showUpdateButton">update</button>
							<button id= "cancelButton" ng-click="showForm=false;">cancel</button>

						</form>
					</div>
				</div> <!-- end add item form -->







				<!-- SEARCH FORM -->
				<div id="search-form" ng-show="showSearch" class="row">
					<div class="six columns alpha">
						<form action="">
							<label for="searchName">name</label>
							<input type="text" id="searchName" placeholder="search" ng-change="searchItems()" ng-model="searchItem.name">

							<button id="searchButton" type="submit" ng-click="searchItems()">search</button>
							<button id= "cancelButton" ng-click="cancelSearch()">cancel</button> <!-- probably could be the same cancel button function as add -->

						</form>
					</div>
					<div id="searchResults" class="ten columns omega">
						<div ng-repeat="loopsearch in searchResults">
							<div class="row">
								<div class="five columns">
									<p>{{loopsearch.name}}</p>
								</div>
							</div>
						</div> <!-- end search results repeat -->
					</div> <!-- end search results -->
				</div> <!-- end search form -->










				
				<!-- SHOW ALL THE ITEMS!! -->
				<div ng-repeat="loopitem in items">
					<div class="row item-row alive" id="{{loopitem.uid}}" style="border-left:3px solid {{colors[loopitem.type]}};">
						<div class="one column alpha">
							<h4 class="pad-left">
								<input type="checkbox" ng-model="selected[loopitem.uid]">
							</h4>
						</div>
						<div class="one columns" ng-show="selected[loopitem.uid]">
							<button id="edit-button" ng-click="editItem(loopitem)" ng-hide="{{loopitem.lock}}" >edit</button>
							<button id="delete-button" ng-click="pushToItem(loopitem, 'deleted', true)" ng-hide="{{loopitem.lock}}">delete</button>
							<img id="lock-{{loopitem.uid}}" title="{{loopitem.name}} is locked by {{loopitem.lockedBy}}" class="pad-top" ng-show="{{loopitem.lock}}" src="images/lock.png"/>
						</div>
						<div class="two column">

							<a href="/images/items/{{loopitem.uid}}/itemImage.jpg"><img id="image-{{loopitem.uid}}" class="pad-left" ng-src="{{loopitem.thumb}}" /></a>
						</div>
						<div class="three columns">
							<h4 class="pad-left"><small class="small-type" style="background-color:{{colors[loopitem.type]}};">{{loopitem.type}}</small>{{loopitem.name}}</h4>
						</div>
						<div class="five columns">
							<p class="pad-left">{{loopitem.description}}</p>
						</div>
						<div class="two columns">
							<p class="pad-left">x {{loopitem.quantity}}</p>
						</div>
						<div class="one column omega">
							<a class="item-link">ask</a> <!-- push comments to the item...? -->
							<a class="item-link" ng-click="showItemHistory[loopitem.uid]=true; showHistory(loopitem)">old</a> 
							<a class="item-link"><span ng-show="{{loopitem.flag}}" ng-click="pushToItem(loopitem, 'flag', false)"><img src="images/flag.gif"/></span><span ng-hide="{{loopitem.flag}}" ng-click="pushToItem(loopitem, 'flag', true)">flag</span></a>
						</div>
					</div>
					<div class="row remove-all" ng-show="showItemHistory[loopitem.uid]">
						<button ng-click="showItemHistory[loopitem.uid]=false;">hide</button>
						<div class="item-history remove-all" id="history-{{loopitem.uid}}"></div>
					</div>
					<div class="row remove-all" id="alert-{{loopitem.uid}}" ng-show="{{loopitem.lock}}">
						<p class="alert-lock">{{loopitem.name}} is locked by {{loopitem.lockedBy}}</p>
					</div>
					
				</div> <!-- end item repeat -->

			</div> <!-- end 16 col div -->










			<!-- MAP AND CALENDAR CONTAINERS -->
			<div id="map" ng-show="page.showMap">
				<div id="insert-map"></div>
			</div>
			<div id="calendar" ng-show="page.showCalendar">
				<div id="insert-calendar"></div>
			</div>
			<!-- end map/calendar -->

		</div><!-- end item control container -->


		<!-- End Document
		================================================== -->

		<!-- Javascript
		================================================== -->
		<script src="js/jquery.cookie.js"></script>
		<script src="js/gmaps.js"></script>
		<script src="js/item.js"></script>
	</body>
</html>
