<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<!-- Basic Page Needs
		================================================== -->
		<meta charset="utf-8">
		<title>Inventory</title>
		<meta name="description" content="inventory for stuff on the Land">
		<meta name="author" content="freedom foundation">

		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="stylesheets/base.css">
		<link rel="stylesheet" href="stylesheets/skeleton.css">
		<link rel="stylesheet" href="stylesheets/layout.css">

		<!-- angularJS (manipulates some CSS..)
		================================================== -->
		<script type="text/javascript" src="js/angular.min.js"></script>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>




	<!-- START OF THE BODY AND THE ITEM APP -->
	<body ng-app="itemApp">
		<div class="container" ng-controller="itemCtrl" id="itemCtrl">
			<div class="sixteen columns">
				<div class="row remove-bottom">
					<div id="email" class="four columns offset-by-eleven alpha">
						<input id='req-email-input' ng-model='email' class ="remove-bottom add-top" type='text' placeholder='email' />
					</div>
					<div class = "one column omega">
						<button class ="remove-bottom add-top" ng-click='setEmailCookie()'>save</button>
					</div>
				</div>
				<div class="row">
					<h1 class="remove-bottom remove-top">Inventory</h1>
					<h5>add and update items at the land</h5>
				</div>
				<div class="row half-bottom">
					<h6 class='help' ng-show="showAddItemHelp">...please fill out all<span class='help-req'>required fields</span></h6>
					<button ng-click="addItemClick()" ng-hide="showForm">add item</button>
				</div>

				<!-- ADD A FORM  -->
				<div ng-show="showForm" class="row">
					<div class="six columns alpha">
						<form action="">
							<!-- Label and text input -->
							<label id='req-name-label' for="req-name-input">name</label>
							<input type="text" id="req-name-input" ng-model="item.name" />

							<!-- Label and textarea -->
							<label for="inputDesc">description</label>
							<textarea id="inputDesc" ng-model="item.description"></textarea>

							<!-- Label and select list -->
							<label ng-hide="showOtherLocationField()" for="inputLoc">location</label>
							<select ng-hide="showOtherLocationField()" ng-model="item.loc" id="inputLoc" ng-options="l for l in locations">
								<option></option>
							</select>

							<label ng-show="showOtherLocationField()" for="inputLocOther">other location</label>
							<input ng-show="showOtherLocationField()" type="text" id="inputLocOther" placeholder="enter location" ng-model="item.other">

							<label for="inputComment">comment</label>
							<textarea id="inputComment" ng-model="item.comment"></textarea>

							<label for="inputImageUrl">image URL</label>
							<input type="text" id="inputImageUrl" ng-model="item.image" />

							<button type="submit" ng-click="addItem()" ng-hide="showUpdateButton">add</button>
							<button id= 'updateButton' type="submit" ng-click='updateItem()' ng-show='showUpdateButton'>update</button>
							<button ng-click="cancelForm()">cancel</button>

						</form>
					</div>
				</div> <!-- end add item form -->

				<!-- SHOW ALL THE ITEMS!! -->
				<div ng-repeat="loopitem in items">

					<div class="row item-row item" id="{{loopitem.uid}}">
						<div class="two columns alpha">
							<img ng-src="{{loopitem.image}}" />
						</div>
						<div class="three columns">
							<h4>{{loopitem.name}}</h4>
						</div>
						<div class="five columns">
							<h4>{{loopitem.description}}</h4>
						</div>
						<div class="four columns">
							<h4>{{loopitem.comment}}</h4>
						</div>
						<div class="one column">
							<a class='item-link'ng-click='selectItem(loopitem)'>edit</a>
							<a class='item-link'>ask</a> <!-- possibly to ask about the item...? -->
							<a class='item-link'>report</a>
						</div>
						<div class="one column omega">
							<img class="image-size" src="http://i1-win.softpedia-static.com/screenshots/icon-60/File-Delete-Absolutely.png" ng-click="removeItem(loopitem.uid)"/>
						</div>
					</div>
				</div> <!-- end item repeat -->
			</div> <!-- end 16 col div -->
		</div><!-- end item control container -->


		<!-- End Document
		================================================== -->

		<!-- Javascript
		================================================== -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/item.js"></script>
	</body>
</html>