
<!DOCTYPE html>
<html lang="en" ng-app="item">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="items down on the land">
    <meta name="author" content="ff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventory</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- angularJS (manipulates some CSS..) -->
    <script type="text/javascript" src="js/angular.min.js"></script>

    <!-- some fonts -->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper" ng-controller="itemCtrl">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <h1 class="cover-heading" id="title">Inventory
            <button class="btn btn-lg btn-primary" ng-hide="itemSent()" ng-click="showForm()" style="margin-left:30px;">
              Add item
            </button>
            <button class="btn-lg" ng-show="itemSent()" style="margin-left:30px;">
              Item added!
            </button>   

          </h1>

          <form class="form-horizontal" role="form" id="itemForm" ng-show="itemEdit()">

            <ul class="unstyled">
              <li ng-repeat='images in '
            
                <img ng-src="{{item.temp[0].tbUrl}}" class="img-polaroid media-object">

            <div class="form-group">
              <label for="inputName" class="col-sm-3 control-label">name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" placeholder="" ng-change="findImage()" ng-model="itemName">
              </div>
            </div>





            <div class="form-group">
              <label for="inputDescription" class="col-sm-3 control-label">description</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control" id="inputDescription" ng-model="itemDescription"></textarea>
              </div>
            </div>




          
            <div class="form-group">
              <label for="inputLoc" class="col-sm-3 control-label">location</label>
              <div class="col-sm-9">
                <select class="form-control" ng-model="itemLoc" id="inputLoc" ng-options="l for l in locations">
                  <option></option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-show="newLocation()">
              <label for="inputLocOther" class="col-sm-3 control-label"><i>new</i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputLocOther" placeholder="enter location" ng-model="itemLocOther">
              </div>
            </div>
            
            
            <div class="form-group">
              <label for="inputComment" class="col-sm-3 control-label">comment</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control" id="inputComment" ng-model="itemComment"></textarea>
              </div>
            </div>
        
            <div class="form-group">
              <span class="col-sm-3"></span>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary" ng-click="addItem()" type="submit">Submit</button>
              </div>
            </div>

          </form>

          <!-- adding the list of inventory items - sorting options -->
          <ul class="unstyled">
            <li ng-repeat="item in items" style="padding:5px 0;">
              
                <!-- DISPLAY ITEM  <div ng-show="item.active"> -->
              <div class="media">
                
                <!-- item image -->
                <img ng-src="{{item.image}}" class="img-polaroid pull-left media-object" ng-click="findImage(item)">
                <!-- item name and type -->
                <div class="media-body">
                
                  <div class="{{item.location}} media-heading">
                    <span class="lead">{{item.name}}</span>
                    <small style="padding-right:25px;">{{item.type}}</small>
                  </div>
                  <!-- item description -->
                  <p>{{item.description}}</p>
                  <p>{{item.location}}</p>
                </div> <!-- end media-body -->
                
              </div>
                
            </li> <!-- ng-repeat -->
          </ul>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/item.js"></script>

  </body>
</html>
